html,
body {
    padding: 0;
    margin: 0;
}

.swiper-slide img {
    width: 100%;
}

a.play {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

a.play.circle {
    background-color: darkblue;
    color: white;
    border-radius: 50%;
    font-family: 微软雅黑;
}

p.translate {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}